$main_color:#00A496;
$sub_color:#7EBEAB;
$box_shadow01:0 3px 6px #eee;
$box_shadow02:0 9px 18px #eaeaea;
$box_shadow03:0 1px 4px #eee;
$box_shadow04:0 5px 10px rgba(0,0,0,0.1);
$box_shadow_card:0 15px 40px  #ccc;
$box_shadow_card_hover:0 25px 50px  #ccc;
$transtion01: 0.3s;
$border01:solid 1px rgba(20,20,20,0.16);
$black01:#1f1f1f;
$black02:rgba(20,20,20,0.48);
$black03:rgba(20,20,20,0.16);
