@import '_color';

.btn{
  background-color: #37AB9D;;
  border-radius: 3px;
  color: #fff;
  padding: 10px;
  max-width: 135px;
  font-size: 14px;
  transition: 0.1s;
  text-align: center;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
  // i{
  //   color: $main_color;
  // }
  // &:hover{
  //   transition: 0.1s;
  //   box-shadow: $box_shadow02;
  // }
  // &:active{
  //   box-shadow: $box_shadow03;
  //   background-color: #f8f8f8;
  // }
  // &:disabled{
  //   box-shadow: none;
  //   color: #007369;
  // }
}

.sub_btn{
  background-color: #302D2C;
  border-radius: 99px;
  color: #fff;
  padding:12px 22px;
  box-shadow: $box_shadow01;
  font-size: 14px;
  transition: 0.1s;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  &:hover{
    transition: 0.1s;
    box-shadow: $box_shadow02;
  }
}

.btn_priority{
  background-color: #FFC042  ;
  border-radius: 3px;
  color: #fff;
  padding: 10px;
  max-width: 150px;
  font-size: 14px;
  transition: 0.1s;
  text-align: center;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  // border: solid 1px #ECA842;
  p {
  }
  svg {
    margin-right: 6px;
    stroke-width:2;
  }
  i{
    color: $main_color;
  }
  &:hover{
    transition: 0.2s;
    background-color: #F1B336;
  }
  // &:active{
  //   box-shadow: $box_shadow03;
  //   background-color: #F7AF06;
  // }
  &:disabled{
    background-color: #F1B336;
  }
}
